a:hover{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.increase_decrease-input{
    display: inline-block;
    .value-button{
        display: inline-block;
        border: 1px solid #ddd;
        background-color: $primary-color;
        color: #ddd;
        width: 2em;
        height: 30px;
        text-align: center;
        //vertical-align: middle;
        margin: 0;
    }

    #input{
        text-align: center;
        border: 1px solid #ddd;
        margin: 0px;
        width: 3em;
        height: 30px;
        text-align: center;

    }
}

.totals-container{
    background-color: $primary-color;
    border-radius: 20px;
    color: #ddd;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
}

.my-btn{
    background-color: $primary-color;
    color: #ddd;
}