.products-container{
   
    margin-bottom: 5% ;

    

    .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        color: #000;
        transition: 0.3s;
        &:hover .cart-btn{
           display: block;
        }

        &:hover{
            color: $primary-color;
            opacity: 0.8;
        }

    }

    .cart-btn{
        border: 3px solid $primary-color;
        width: 80%;
        border-radius: 2px;
        margin: auto;
        display: none;
        position: absolute;
        top: 40%;
        left: 10%;
        transform: translateY(40%);
        font-weight: 900;

       &:hover{
           background-color: $primary-color;
           color: #fff;
       }
    }

    .rating-container{
        .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center
        }
        
        .rating>input {
            display: none
        }
        
        .rating>label {
            position: relative;
            width: 1em;
            font-size: 1.5vw;
            color: $secondary-color;
           
            cursor: pointer
        }
        
        .rating>label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }
        
        .rating>label:hover:before,
        .rating>label:hover~label:before {
            opacity: 1 !important
        }
        
        .rating>input:checked~label:before {
            opacity: 1
        }
        
        .rating:hover>input:checked~label:before {
            opacity: 0.4
        }
    }
}